*, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial;
}

.header {
    justify-content: space-between;
    display: flex;
    padding: 5px 90px 5px 0;
    min-height: 50px;
    align-items: center;
    font-size: 30px;
    background-color:#f75d05;
}

.header a{
    padding:0 20px;
}
.container {
}

    .container .sideBar {
        background-color: black;
        width: 15%;
        min-height: 800px;
        float: left;
    }

        .container .sideBar .menuItem {
            font-size: 25px;
            font-weight: bold;
            text-align: center;
            padding-top: 20px;
            color:white;
        }

        .container .sideBar .dropdown-container {
            padding: 5px 15px;
            font-size: 19px;
        }

            .container .sideBar .dropdown-container a {
                text-decoration: none;
                color: white;
            }

                .container .sideBar .dropdown-container a:hover .dropdown-item {
                    background-color: #f75d05;
                    color: white;
                }

            .container .sideBar .dropdown-container .dropdown-item {
                padding: 5px;
            }


    .container .content {
        width: 83%;
        float: left;
    }

        .container .content h3 {
            text-align: center;
            font-size: 35px;
            padding: 15px 0;
        }

        .container .content .table {
            width: 100%;
            padding-left: 15px;
        }

.table tr th {
    border: 1px solid black;
}

.table tr td {
    border: 1px solid black;
    text-align: center;
    margin: 2px;
    height: 30px;
}

    .table tr td .filmOptionsCss a {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        margin: 5px;
        background-color: red;
        border-radius: 10px;
        padding: 2px;
        display: flex;
        flex-direction: column;
    }

        .table tr td .filmOptionsCss a:hover {
            background-color: red;
            color: white;
        }

    .table tr td a {
        text-decoration: none;
        color: black;
        border: 1px solid black;
        margin: 5px;
        background-color: red;
        border-radius: 10px;
        padding: 3px;
    }

        .table tr td a:hover {
            background-color: red;
            color: white;
        }
.catAdd{
    margin:40px;
}
.catAdd .row{
    float:left;
    margin:10px 15px;
}
.catAdd .row .formButton{
    text-decoration:none;
    border:1px solid black;
    background-color:red;
    padding:4px;
    color:black;
    border-radius:5px;
}
.catAdd .row .formButton:hover{
    background-color:orange;
    color:white;
}
.successful {
    background-color: #126b00;
    color: #fafafa;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.unsuccessful {
    background-color: #a70000;
    color: #fafafa;
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
.userAdd {
    margin: 30px;
    display: flex;
    flex-direction: column;
}
    .userAdd .row {
        float: left;
        margin: 10px 15px;
    }
        .userAdd .row .formButton {
            text-decoration: none;
            border: 1px solid black;
            background-color: red;
            padding: 4px;
            color: black;
            border-radius: 5px;
        }
        .userAdd .row .formButton:hover {
            background-color: orange;
            color: white;
        }
.multi .row label {
    display: flex;
    justify-content: center;
}
.comment a {
    text-decoration: none;
    color: teal;
    border: 3px solid cadetblue;
    padding: 10px;
    margin-left: 125px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    background-color: gainsboro;
    display: inline-block;
}
.comment a:hover{
    background-color:aliceblue;
}
a#lbtn_adminexit {
    text-decoration: none;
    background-color: papayawhip;
    color: red;
    font-weight: bold;
    border: 3px solid red;
}
a#lbtn_adminexit:hover {
    background-color:black;
}